<app-side-bar>
  <div class="container">
    <div class="search-bar">
      <mat-form-field appearance="outline">
        <mat-label>Search users...</mat-label>
       <input 
        matInput 
        type="text" 
        placeholder="Search by name"
        [formControl]="searchControl">
        <button mat-icon-button matSuffix><mat-icon>search</mat-icon></button>
      </mat-form-field>
    </div>
    <h2>List of students</h2>
   
    <button routerLink="/admin/register" class="reg-button">Add User</button>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Birthday</th>
                <th>Phone</th>
                <th>Enabled</th>
                <th>joined Date</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of displayedUsers" key="user.id" class="list-user">
                <td>{{ user.idUser }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.birthDate }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td class="mat-ic">
                  <mat-icon [class.enabled-true]="user.enabled" [class.enabled-false]="!user.enabled">
                    {{ user.enabled ? 'check_circle' : 'cancel' }}
                  </mat-icon>
                </td>
                <td>{{ user.createdDate | date:'short'}}</td>
                <td>
                    <button mat-icon-button class="khyel"  color="warn" (click)="deleteUser(user.idUser)">
                        <mat-icon class="delete-mat">delete</mat-icon>
                    </button>
                    
                </td>
                <td><button class="update-button" (click)="updateUser(user.idUser)">Update</button></td>
            </tr>
        </tbody>
    </table>
    
    <mat-paginator 
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      showFirstLastButtons>
    </mat-paginator>
  </div>
</app-side-bar>